.root {
  padding: 1rem;
  grid-area: input;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--dark);
}

.hidden {
  /* Visually hidden */
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
