*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-container {
  display: grid;
  gap: 1rem;
  min-width: 320px;
  margin: auto;
  grid-template-rows: 1fr auto 5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'image image'
    'output output'
    'input input';
}

@media screen and (min-width: 768px) {
  .main-container {
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    max-width: 900px;
  }
}
